.jigsaw-puzzle {
    width: 25%;
    height: 38%;
    border: 2px solid black;
    margin: 50px auto;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    /* background-image: url('../../assets/images/final_body.png');
    background-size: cover; */
    position: relative;
}
.jigsaw-puzzle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url('../../assets/images/final_body.png'); */
    background-size: cover;
    opacity: 0.5;
}

/* For screens smaller than 1200px (large devices like tablets) */
@media screen and (max-width: 1200px) {
    .jigsaw-puzzle {
        width: 40%;
        height: 50%;
    }
}

/* For screens smaller than 992px (medium devices like tablets in portrait mode) */
@media screen and (max-width: 992px) {
    .jigsaw-puzzle {
        width: 50%;
        height: 60%;
    }
}

/* For screens smaller than 768px (tablets and large phones) */
@media screen and (max-width: 768px) {
    .jigsaw-puzzle {
        width: 60%;
        height: 70%;
    }
}

/* For screens smaller than 576px (small phones) */
@media screen and (max-width: 576px) {
    .jigsaw-puzzle {
        width: 80%;
        height: 80%;
    }
}

/* For extra-small screens (really small phones) */
@media screen and (max-width: 400px) {
    .jigsaw-puzzle {
        width: 90%;
        height: 90%;
    }
}

